<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zscseh93.accentizerkeyboard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".AccentizerKeyboard"
            android:label="@string/accentizer_keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>

        <activity android:name=".settings.ImeSettingsActivity" android:label="Accentizer Keyboard Settings">
        </activity>

        <meta-data android:name="DATABASE" android:value="suggestions.db" />
        <meta-data android:name="VERSION" android:value="3" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.zscseh93.accentizerkeyboard.dictionary" />

    </application>

</manifest>